.header {
  background-color: var(--background-color-dark);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  padding: 2.5% 5%;
  width: 100vw;
}

.header__img {
  background-color: var(--background-color-light);
  border-radius: 10px;
  width: 55px;
  height: 57px;
  padding: 1.2% 2%;
}

.logo {
  color: var(--background-color-light);
  font-size: 1.5rem;
  font-weight: 900;
}

.logo__accent {
  color: var(--active-color);
}

.header .logo__accent {
  font-size: 1.7rem;
  transform: rotate(-10deg);
  display: inline-block;
}

@media (min-width: 768px) {
  .header {
    gap: 20px;
    padding: 1.5% 5%;
  }

  .header__img {
    border-radius: 10px;
    width: 75px;
    height: 77px;
    padding: 0.5% 1.2%;
  }

  .logo {
    font-size: 2rem;
    font-weight: 900;
  }

  .header .logo__accent {
    font-size: 2.2rem;
  }
}

@media (min-width: 1200px) {
  .header {
    gap: 25px;
    padding: 1% 3%;
  }

  .header__img {
    border-radius: 15px;
    width: 95px;
    height: 97px;
    padding: 0.5% 0.8%;
  }

  .logo {
    font-size: 2.5rem;
  }

  .header .logo__accent {
    font-size: 2.7rem;
  }
}