.form__container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  border: 3px dashed var(--active-color);
  border-radius: 10px;
  padding: 4%;
  max-width: 420px;
}

.form__label {
  color: var(--background-color-dark);
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 1rem;
}

.form__input {
  background-color: var(--background-color-light);
  margin-bottom: 10px;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1.5px solid var(--background-color-dark);
  font-size: 0.8rem;
  outline: none;
  text-align: left;
}

.form__input::placeholder {
  color: var(--active-color);
  font-size: 0.8rem;
  font-weight: 400;
}

.form__button:focus,
.form__input:hover {
  border-color: var(--active-color);
}

.form__button {
  background-color: var(--background-color-light);
  background-color: var(--button-color);
  font-weight: 700;
  opacity: 0.9;
  padding: 0.5rem 0.8rem;
  margin: auto;
  width: 50%;
}

.form__button:focus,
.form__button:hover {
  outline: none;
  opacity: 80%;
  background-color: var(--active-color);
}

@media (min-width: 768px) {
  .form__container {
    width: 35vw;
    border-radius: 15px;
    margin: 0 auto;
    max-width: 100%;
    padding: 2%;
  }

  .form__label {
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 1rem;
  }

  .form__input {
    margin-bottom: 15px;
    padding: 12px 15px;
    border: 1.8px solid var(--background-color-dark);
    font-size: 0.9rem;
  }

  .form__input::placeholder {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .form__button {
    padding: 0.6rem 0.8rem;
    width: 40%;
    margin-top: 2%;
    margin-right: 0px;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .form__container {
    width: 22vw;
    border: 4px dashed var(--active-color);
    border-radius: 20px;
    padding: 1.2%;
  }

  .form__label {
    font-size: 1.2rem;
  }

  .form__input {
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid var(--background-color-dark);
    font-size: 1rem;
  }

  .form__input::placeholder {
    font-size: 1rem;
  }

  .form__button {
    padding: 0.5rem;
    min-width: 180px;
    width: 25%;
    margin-right: 0px;
    margin-left: auto;
  }
}